@{
    ViewData["Title"] = "Bloqueada";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Esta cuenta ha sido bloqueada, por favor intente después.</p>
</header>
